*{
    margin: 0;
    padding: 0;

}
.all{
    display: flexbox;
justify-content: center;
}


.main{
background: url("./img/flight-1920-x-1200-background-kpd30d76ddkw585w.jpg"); width: 100%;
 height: 120%;
position: absolute;
 background-position: center;
 background-size: cover;
box-shadow: 0 20px 30px gray;
z-index: -1;
opacity: .8;

}

h2{
    padding: 20px;
    text-align: center;
    font-family: cursive;
    font-size: 100px;
    filter: drop-shadow(2px 2px);
    font-weight: 900;
}
h2 span{
    color: rgb(9, 92, 92);
    font-size: 60px;
}

ul {
    gap: 20px;
    font-size: 70px;
    font-weight: 700;
    display: flex;
    right: 30px;
    color: bisque;
    flex-direction: column;
    position: absolute;
    font-weight: 700;
}
.nav{
    height: 62%;
    width: 100%;
    position: absolute;
}


/* travel----------------------------------------------------------- */


.travel{
    margin-top: 40%;
    display: flex;
    justify-content: center;

    align-items: center;
    flex-direction: column;
    box-shadow: inset gray 10px ;
    border:  solid rgba(128, 128, 128, 0.411) 10px;
    padding: 30px;

}
.travel h3{
    font-size: 50px;
    font-weight: 800;
    color: rgb(53, 11, 92);
}
.name input{

    height: 50px;
    width: 300px;
   background: none;
    border: none;
    font-size: 30px;
    text-align: center;
    border-radius: 10px;
    color: black;
    box-shadow: 3px 3px 5px;
    margin-bottom: 30px;
}
.city{
display: flex;
gap: 20px;

}
.city i{
    font-size: 40px;
   
}
.city select{

    width: 400px;
    height: 50px;
    font-size: 40px;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    border-radius: 15px;
    border: solid gray 2px;
}
.city h4{

font-size: 25px;
align-items: center;
margin-top: 10px;
font-weight: 700;

}
.date input{
    width: 200px;
    height: 50px;
    font-size: 20px;
    margin: 20px;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
 
    border: solid gray 2px;
}

.booking{
    width: 150px;
    height: 50px;
    font-size: 25px;
 margin-left: 45px;
 font-weight: 700;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
 border-radius: 20px;
background-color: rgb(11, 88, 63);
border: none;

box-shadow: 3px 3px 5px;
}
.booking:active{
color: white;
background-color: black;

}
.fly{
    width: 270px;
    height: 50px;
    font-size: 25px;
margin-top: 20px;
margin-right: 30px;
 font-weight: 700;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
 border-radius: 20px;
background-color: rgb(224, 221, 48);
border: none;
display: none;

box-shadow: 3px 3px 5px;
}
.fly:active{
    color: white;
    background-color: black;
    
    }




/* flight select------------------------------------- */



.indigo{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: rgba(20, 45, 129, 0.856);
 padding: 2px;
 box-shadow: 3px 5px 5px ;
}
.indigo img{
    width: 150px;
    height: 130px;
    box-shadow: 0px 10px 10px;
}
.indigo h3{
    font-size: 30px;
    text-align: center;
}
.indigo h4{
    font-size: 50px;
}



.indigo .total{
    background-color: rgb(170, 188, 199);
    padding:0 15%  0 15%;
}
 

.scoot{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: rgba(221, 209, 38, 0.664);
 padding: 2px;
   box-shadow: 3px 5px 5px ;
}
.scoot img{
    width: 150px;
    height: 130px;
    box-shadow: 0px 10px 10px;
}
.scoot h3{
    font-size: 30px;
    text-align: center;
}
.scoot h4{
    font-size: 50px;
}



.scoot .total{
    background-color: rgb(170, 188, 199);
    padding:0 15%  0 15%;
}



.airindia{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: rgba(241, 10, 10, 0.699);
 padding: 2px;
 box-shadow: 3px 5px 5px ;
}
.airindia img{
    width: 150px;
    height: 130px;
    box-shadow: 0px 10px 10px;
}
.airindia h3{
    font-size: 30px;
    text-align: center;
}
.airindia h4{
    font-size: 50px;
}



.airindia .total{
    background-color: rgb(170, 188, 199);
    padding:0 15%  0 15%;
}


.tiger {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: rgba(146, 92, 11, 0.664);
 padding: 2px;
   box-shadow: 3px 5px 5px ;
}
.tiger img{
    width: 150px;
    height: 130px;
    box-shadow: 0px 10px 10px;
}
.tiger h3{
    font-size: 30px;
    text-align: center;
}
.tiger  h4{
    font-size: 50px;
}
.tiger  .total{
    background-color: rgb(170, 188, 199);
    padding:0 15%  0 15%;
}


.airasia{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background: linear-gradient(180deg, rgba(189, 209, 214, 0.932), rgb(138, 8, 8));
 padding: 2px;
   box-shadow: 3px 5px 5px ;
}
.airasia img{
    width: 150px;
    height: 130px;
    box-shadow: 0px 10px 10px;
}
.airasia h3{
    font-size: 30px;
    text-align: center;
}
.airasia h4{
    font-size: 50px;
}



.airasia .total{
    background-color: rgb(170, 188, 199);
    padding:0 15%  0 15%;
}



.spicejet{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background: linear-gradient(180deg, rgba(236, 7, 7, 0.89), rgb(228, 228, 233));
 padding: 2px;
   box-shadow: 3px 5px 5px ;
}
.spicejet img{
    width: 150px;
    height: 130px;
    box-shadow: 0px 10px 10px;
}
.spicejet h3{
    font-size: 30px;
    text-align: center;
}
.spicejet h4{
    font-size: 50px;
}



.spicejet .total{
    background-color: rgb(170, 188, 199);
    padding:0 15%  0 15%;
}
 

#price{
    text-align: center;
    background: none;
    border: none;
    font-size: 50px;
    width: 300px;
    text-decoration: none;

}

/* --------------------table payment------------- */



table tr th {

    font-size: 30px;
    text-align: center;
    padding: 5px 10px 5px 10px;
    border: 2px solid rgb(88, 7, 7);
}
table tr td{
    font-size: 25px;
    text-align: center;
    padding: 10px 20px 10px 20px;
    border: 2px solid rgb(88, 7, 7);
}

.foot{


    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 40%;
gap: 20px;
    background-color: rgb(148, 141, 155);
}

.flights{
    display: none;
}

.payment{
    display: none;
} 
.footer{
    display: none; 
 }


 /* -------------------------tickek book---------------- */

 .tic{
    display: flex;
    justify-content: center;
background: linear-gradient(120deg, rgba(0, 0, 255, 0.171), rgba(255, 192, 203, 0.281));
height: 40%;
width: 70%;
border: solid 5px brown;
margin-bottom: 20px;
display: none;


}


input{
    background: none;
    border: none;
 
    font-size: 40px;
}
label{
    font-size: 20px;
    font-weight: 600;
    font-family: cursive;
    color: rgb(25, 95, 72);
}

h1{
    font-size: 40px;
    background-color: rgb(60, 60, 172);
    padding: 5px;
}
div{
    gap: 20px;
}

.cit{
    display: flex;
    justify-content: center;
    margin-top: 50px;
    margin-bottom: 30px;
    
}
.cit input{
    font-size: 50px;
    text-align: center;
    width: 300px;
}


.ticimg{
    width: 250px;
    height: 250px;
    float: left;
}



.scroll{

font-size: 50px;
font-weight: 800;
background-color: rgb(22, 107, 11);
color: black;
padding: 10px;
width: 70px;
border-radius: 40px;
border: none;
right: 30px;
position: absolute;
position: sticky;
float: right;
cursor: pointer;
}

